<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing">
    <parameter name="Username" value="Parameter"/>
    <parameter name="Password" value="password"/>
    <test name="HW01">
        <classes>
            <class name="Exercise.Topic02_LocatorSession01"/>
            <class name="Exercise.Topic02_LocatorSession02"/>
            <class name="Exercise.Topic02_LocatorSession03"/>
            <class name="Exercise.Topic03_SeleniumSession01"/>
            <class name="Exercise.Topic03_SeleniumSession02"/>
            <class name="Exercise.Topic03_SeleniumSession03"/>
            <class name="Exercise.Topic04_IframeWindowTab"/>
            <class name="Exercise.Topic05_UserInteraction"/>
            <class name="Exercise.Topic06_Wait"/>
            <class name="Exercise.Topic07_Exercise11_TestNG"/>
        </classes>
    </test>
    !-- Test -->
</suite> <!-- Suite -->
